.SingleDatePicker_picker {
    z-index: 1300;
}

.SingleDatePickerInput {
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.23);
}

.DateInput {
    vertical-align: bottom;
    margin-right: 2px;
}

.DateInput_input {
    font-size: 16px;
    font-family: inherit;
    font-weight: 500;
    cursor: pointer;
}

.DateInput_input__focused {
    border-bottom: 2px solid #1976d2;
}

.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
    background: #1976d2;
    border: 1px double #1976d2;
}

.DayPickerKeyboardShortcuts_show__bottomRight::before {
    border-right: 33px solid #1976d2;
}
